<div ngProjectAs="card-body">
    <div enterKey (enterKeyEvent)="fetchData()">
        <nz-tabset nzType="card">
            <nz-tab nzTitle="Tìm kiếm nâng cao">
                <div class="row">
                    <div class="mb-4 col-md-3">
                        <label for="search" class="form-label fw-bolder">Cơ sở</label>
                        <input type="text" [ngModel]="foundationFieldName" [disabled]="true" class="form-control" placeholder="Nhập mã cơ sở">
                    </div>
                    <div class="mb-4 col-md-3">
                        <label for="search" class="form-label fw-bolder">Tên sân bóng</label>
                        <input type="text" [ngModel]="footballFieldName" [disabled]="true" class="form-control" placeholder="Nhập mã cơ sở">
                    </div>
                    <div class="mb-4 col-md-3">
                        <label class="form-label fw-bolder">Kiểu sân</label>
                        <input type="text" [ngModel]="footballFieldType" [disabled]="true" class="form-control" placeholder="Nhập mã cơ sở">
                    </div>
                    <div class="mb-4 col-md-3">
                        <label for="search" class="form-label fw-bolder">Tên vật chất</label>
                        <input type="text" [(ngModel)]="objFilter.name" class="form-control" placeholder="Nhập tên vật chất">
                    </div>
                    <!-- <div class="mb-4 col-md-3">
                        <label for="search" class="form-label fw-bolder">Thời gian lắp đặt</label>
                        <range-picker></range-picker>
                    </div> -->
                    <!-- <div class="mb-4 col-md-3">
                        <label for="search" class="form-label fw-bolder">Loại vật chất</label>
                        <app-combobox [datas]="listTrangThaiCVSCDacBiet" [(sModel)]="objFilter.materialFacilitiesSpecific"></app-combobox>
                    </div> -->
                    <div class="mb-4 col-md-3">
                        <label for="search" class="form-label fw-bolder">Tình trạng vật chất</label>
                        <app-combobox [datas]="listTrangThaiCVSC" [(sModel)]="objFilter.status"></app-combobox>
                    </div>
                    <div class="mb-4 col-md-3 mt-8">
                        <button (click)="fetchData()" class="btn btn-sm btn-primary me-1">
                            <i class="fas fa-search"></i> Tìm kiếm
                            </button>
                        <button (click)="initFilter()" class="btn btn-sm btn-secondary ms-1">
                            <i class="fas fa-sync"></i> Đặt lại
                            </button>
                    </div>
                </div>
            </nz-tab>
            <nz-tab nzTitle="Tìm kiếm nhanh">
                <div class="mb-4">
                    <input id="search" [(ngModel)]="objFilter.textSearch" (ngModelChange)="searchHandle()" placeholder="Nhập tên tên vật chất để tìm kiếm..." autoFocus class="form-control" type="text" />
                </div>
            </nz-tab>
        </nz-tabset>
    </div>
    <div class="table-responsive">
        <!-- <foundation-table [total]="objFilter.total" [loading]="loading" (onChange)="onChangeQuery($event)" [listData]="listFoundation"></foundation-table> -->
        <material-facilities-table [total]="objFilter.total" [loading]="loading" (delete)="delete($event)" (addOrEditModal)="addOrEditModal($event, false, true)" (view)="addOrEditModal($event,true)" (baoDuongModal)="maintain($event)" (onChange)="onChangeQuery($event)"
            [listData]="listMaterialF"></material-facilities-table>
    </div>
</div>