<div class="mb-5">
    <label class="form-label fw-bolder">Nhập thông tin lô hàng để chọn</label>
    <custom-combobox></custom-combobox>
</div>
<div>
    <nz-table #basicTable [nzData]="true">
        <thead>
            <tr>
                <th>#</th>
                <th class="min-w-200px text-center">Lô hàng</th>
                <th class="text-center">Số lượng</th>
                <th class="text-center">Xóa</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">1</td>
                <td class="text-center">
                    <span>IMP000259-SP00007 -Thực Phẩm Gia Đình Anco </span>
                </td>
                <td class="text-center">
                    <input [ngModel]="2" class="form-control" type="number" placeholder="Số lượng">
                </td>
                <td class="text-center">
                    <i style="color: #d9534f;" nzTooltipTitle="Xóa" nz-tooltip class="fas fa-trash-alt p-3"></i>
                </td>
            </tr>
            <tr>
                <td class="text-center">2</td>
                <td class="text-center">
                    <span> IMP0832375676-SP00001-Thực phẩm An Khang</span>
                </td>
                <td class="text-center">
                    <input [ngModel]="1" class="form-control" type="number" placeholder="Số lượng">
                </td>
                <td class="text-center">
                    <i (click)="close()" style="color: #d9534f;" nzTooltipTitle="Xóa" nz-tooltip class="fas fa-trash-alt p-3"></i>
                </td>
            </tr>
        </tbody>
    </nz-table>

</div>
<ng-template [nzModalFooter]>
    <button class="btn btn-sm btn-primary" style="margin-right: 10px;"><i
    class="fa fa-save"></i>
  Lưu</button>
    <button (click)="close()" class="btn btn-sm btn-secondary"><i class="fas fa-times"></i> Đóng</button>
</ng-template>
