<div ngProjectAs="card-body">
    <div enterKey (enterKeyEvent)="fetchData()">
        <nz-tabset nzType="card">
            <nz-tab nzTitle="Tìm kiếm nâng cao">
                <div class="row">
                    <div class="mb-4 col-md-3">
                        <!-- <label for="search" class="form-label fw-bolder">Cơ sở</label>
                        <foundation-combobox [(sModel)]="foundationCode" isDisabled="isDisabled"></foundation-combobox> -->
                        <label for="search" class="form-label fw-bolder">Tên Cơ sở</label><br>
                        <input class="form-control" type="text" [disabled]="true" [ngModel]="foundationFieldName" class="form-control" placeholder="Nhập tên sân bóng">
                    </div>

                    <div class="mb-4 col-md-3">
                        <label for="search" class="form-label fw-bolder">Tên nhân viên</label>
                        <input class="form-control" nz-input type="text" [(ngModel)]="objFilter.fullname" placeholder="Nhập tên nhân viên">
                    </div>
                    <div class="mb-4 col-md-3">
                        <label for="search" class="form-label fw-bolder">Mã nhân viên</label>
                        <input class="form-control" nz-input type="text" [(ngModel)]="objFilter.username" placeholder="Nhập mã nhân viên">
                    </div>
                    <div class="mb-4 col-md-3">
                        <label for="search" class="form-label fw-bolder">Vai trò</label>
                        <role-combobox [(sModel)]="objFilter.roleSearch"></role-combobox>
                    </div>
                    <div class="mb-4 col-md-3">
                        <label for="search" class="form-label fw-bolder">Ngày bắt đầu làm việc</label>
                        <range-picker [(sModelStart)]="objFilter.startDate" [(sModelEnd)]="objFilter.endDate"></range-picker>
                    </div>
                    <div class="mb-4 col-md-3">
                        <label for="search" class="form-label fw-bolder">Giới tính</label>
                        <app-combobox [datas]="listGender" [(sModel)]="objFilter.gender"></app-combobox>
                    </div>
                    <div class="mb-4 col-md-3">
                        <label for="search" class="form-label fw-bolder">Tình trạng làm việc</label>
                        <app-combobox [datas]="lstStatus" [(sModel)]="objFilter.statusSearch"></app-combobox>
                    </div>
                    <div class="mb-4 col-md-3 mt-8">
                        <button (click)="fetchData()" class="btn btn-sm btn-primary me-1">
                            <i class="fas fa-search"></i> Tìm kiếm
                            </button>
                        <button (click)="initFilter()" class="btn btn-sm btn-secondary ms-1">
                            <i class="fas fa-sync"></i> Đặt lại
                            </button>
                    </div>
                </div>
            </nz-tab>
            <nz-tab nzTitle="Tìm kiếm nhanh">
                <div class="mb-4">
                    <input id="search" [(ngModel)]="objFilter.textSearch" (ngModelChange)="searchHandle()" placeholder="Nhập tên, email, số điện thoại để tìm kiếm..." autoFocus class="form-control" type="text" />
                </div>
            </nz-tab>
        </nz-tabset>
    </div>
    <div class="table-responsive">
        <employee-table [total]="objFilter.total" [loading]="loading" (viewDetail)="ViewDetail($event)" [listOfRandomUser]="lstusers" (onChange)="onChangeQuery($event)" [loading]="isLoading" (onDeleteOut)="delete($event)" (onEditOut)="edit($event)"></employee-table>
    </div>
</div>